
body {
    background-color: #EFE3F3;
    margin: 0;
    font-family: "Righteous", sans-serif;
}

.promo {
    background-color: #E2411F;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #FAF9F6;
    color: #E2411F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Righteous", sans-serif;
    font-size: 1.19vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.container {
    text-align: center;
    background-color: #EFE3F3;
}


.footer {
    background-color: #E2411F;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: -15px;
}


.story img {
    width: 100%;
    margin-bottom: -10px;
}

.our-story .content {
    color: #E2411F;
    text-align: center;
    padding: 10px;
    font-size: 1.5vw;
    background-color: #EFE3F3;
}



.our-founders img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: -10px;
    padding-bottom: 10px;
}

.our-founders .content {
    color: #E2411F;
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

.founderscenter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #EFE3F3;
}

.founderstwocol {
    max-width: 400px;
    flex: 1;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    color: #E2411F;
}
